:root {
    --skin: #f6c09c;
    --background: #ed4042;
    --ear:#ed927d;
    --red: #ed2860;
    --x:#e9686a;
    --dark-red: #680524;
    --black: #00243a;
    --white: #fff;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
      display: flex;
      width: 100%;
      height: 100vh;
      background-color: var(--background);
      justify-content: center;
      align-items: center;
}
.head{
    width: 300px;
    height: 550px;
    background-color: var(--skin);
    border-radius: calc(300px / 2);
    position: relative;
}
.eye-left{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--white);
    border-radius:40px;
    top: 25%;
    left: 25%;
    z-index: 5;
}
.eye-right{
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: var(--white);
    border-radius:40px;
    top: 25%;
    right: 25%;
    z-index: 5;
}
.eyebrown{
    position: absolute;
    background-color: yellowgreen;
    width: 180px;
    height: 40px;
    top: 22%;
    left:calc(50% - (180px/2));
    z-index: 6;
    background-color: var(--skin);
}
.pupil-left{
    position:absolute;
    width: 12px;
    height: 12px;
    background-color: var(--black);
    border-radius: 6px;
    top: 31%;
    left: 36%;
    z-index: 7;
}
.pupil-right{
    position:absolute;
    width: 12px;
    height: 12px;
    background-color: var(--black);
    border-radius: 6px;
    top: 31%;
    right: 36%;
    z-index: 7;
}
.nose{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 40%;
    left: calc(50% - 45px);
    background-color: var(--skin);
    border-radius: 45px;
    z-index: 7;
}
.beard{
    position: absolute;
    top: calc(100% - 300px);
    width: 300px;
    height: 300px;
    background-color: var(--black);
    border-top-left-radius: calc(300px / 3.5) ;
    border-top-right-radius: calc(300px / 3.5) ;
    border-bottom-left-radius: calc(300px / 2);
    border-bottom-right-radius: calc(300px / 2);
    z-index: 1;
}
.ear-left{
    position: absolute;
    width: 50px;
    height: 60px;
    border-radius: 30px 0 0 30px;
    background-color: var(--ear);
    left: calc(0% - 50px);
    top: 35% ;
}
.ear-right{
    position: absolute;
    width: 50px;
    height: 60px;
    border-radius: 0 30px 30px 0;
    background-color: var(--ear);
    left: 100%;
    top: 35% ;
}
.neck{
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: yellowgreen;
    top:80%;
    left: calc(50% - 100px);
    background-color: var(--ear);
}
.mouth{
    position: absolute;
    width: 150px;
    height: 80px;
    left: calc(50% - 75px);
    top: 60%;
    border-radius: 0 0 75px 75px ;
    z-index: 5;
    background-color: var(--dark-red);
    overflow: hidden;
}
.teeth{
    width: 110px;
    height: 25px;
    border-radius:  0 0 20px 0;
    background-color: var(--white);
}
.tongue{
    width: 70px;
    height: 50px;
    margin-top: 15px;
    background-color: var(--red);
    border-radius: 0 12px 0 0;
}
.x1-left{
    position: absolute;
    width: 40px;
    height: 10px;
    border-radius: 5px;
    transform: rotate(45deg);
    background-color: var(--x);
    left: calc(0% - 35px);
    top: 39.5% ;
}
.x2-left{
    position: absolute;
    width: 40px;
    height: 10px;
    border-radius: 5px;
    transform: rotate(135deg);
    background-color: var(--x);
    left: calc(0% - 35px);
    top: 39.5% ;
}
.x1-right{
    position: absolute;
    width: 40px;
    height: 10px;
    border-radius: 5px;
    transform: rotate(45deg);
    background-color: var(--x);
    left: calc(100% - 4px);
    top: 39.5% ;
}
.x2-right{
    position: absolute;
    width: 40px;
    height: 10px;
    border-radius: 5px;
    transform: rotate(135deg);
    background-color: var(--x);
    left: calc(100% - 4px);
    top: 39.5% ;
}